<div class="container">
  <h2>Student Login</h2>
  <div class="fields">
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      [(ngModel)]="username"
      placeholder="Enter your username"
    />
  </div>
  <div class="fields">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      placeholder="Enter your password"
    />
  </div>
  <div>
    <button (click)="login()">Login</button>
  </div>
</div>
