.container {
  text-align: center;
  margin-top: 15%;
  background-color: #ccc;
  margin-left: 20%;
  margin-right: 20%;
  font-family: sans-serif;
  border: 2px solid black;
  border-radius: 10px;
}

h2 {
  padding: 20px 10px;
  font-family: sans-serif;
}

.fields {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

button {
  padding: 5px 20px;
  width: 200px;
  margin-bottom: 40px;
  margin-top: 10px;
  background-color: goldenrod;
}
